# Series : Pandas Data Structure

In [ ]:
import pandas as pd

In [ ]:
x1 = [10,20,30,40,50,60,70,80]

x = pd.Series(x1)
print(x)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

# Type checking

In [ ]:
print(type(x))

<class 'pandas.core.series.Series'>

# Indexing

In [ ]:
x = pd.Series(x1,index=[1,2,3,4,5,6,7,8])
print(x)

1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
dtype: int64

In [ ]:
x = pd.Series(x1,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(x)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

# Type casting : dtype

In [ ]:
x = pd.Series(x1,dtype='float') # convert to float
print(x)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    70.0
7    80.0
dtype: float64

# Data Labeling: name

In [ ]:
x = pd.Series(x1,name='score') # convert to float
print(x)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
Name: score, dtype: int64

# Python Dictionary | Object to Series

In [ ]:
dic1 = {"Language:":['Python', 'Javascript', 'Php', 'Java'], "Rank":[1,2,4,3]}

x = pd.Series(dic1)

print(x)

Language:    [Python, Javascript, Php, Java]
Rank                            [1, 2, 4, 3]
dtype: object

# Series Operation

# Addition

In [ ]:
n1 = [1,2,3,4,5]
n2 = [10,20,30,40,50]

s1 = pd.Series(n1)
s2 = pd.Series(n2)

print(s1)
print(s2)
print('\n ----- \n')
print( s1+s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64

 -----

0    11
1    22
2    33
3    44
4    55
dtype: int64