# Condition

In [20]:
import pandas as pd

In [21]:
dic1 = {
    "Roll":[201,202,203,204,205],
    "Student_Name":["Adam", "John", "Zoha", "Mark", "Neha"],
    "Gender":['male', 'male','female', 'male', 'female'],
    "Age":[17,19,24,25,26],
    "Math_Marks":[90,93,92,82,87],
    "Physics_Marks":[89,90,88,87,91]
    }

d1 = pd.DataFrame(dic1)
d1

   Roll Student_Name  Gender  Age  Math_Marks  Physics_Marks
0   201         Adam    male   17          90             89
1   202         John    male   19          93             90
2   203         Zoha  female   24          92             88
3   204         Mark    male   25          82             87
4   205         Neha  female   26          87             91

# Applying Condition to get Only Male

 - Return True |  False

In [22]:
maleOnly = d1['Gender'] == 'male'
maleOnly

0     True
1     True
2    False
3     True
4    False
Name: Gender, dtype: bool

# Condition on Age

In [23]:
age = d1['Age'] >= 20
age

0    False
1    False
2     True
3     True
4     True
Name: Age, dtype: bool