# Create CSV from DataFrame

In [1]:
import pandas as pd

In [2]:
d1 = pd.DataFrame(
    {
        'Name':['Adam', 'Neha', 'Sara', "John"],
        'Gender':['male', 'female', 'female', 'male']
    }
)

d1

   Name  Gender
0  Adam    male
1  Neha  female
2  Sara  female
3  John    male

# Creating CSV

- index 
- header

In [3]:
d1.to_csv('demo1.csv')

In [4]:
d1.to_csv('demo1.txt')
d1.to_csv('demo1.pdf')